:root{
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --fontbody: 'Rubik', sans-serif;
    --fontinput: 18px;
}

.topbar{
    position: relative;
    width:100%;
    height: 250px;
    background-image: url(images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.20);
}

.form-container{
    display: flex;
    width: 50%;
    height:60px;
}

.form{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 1rem;
    font-family:var(--fontbody);
    color: var(--DarkGray);
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
}

.form:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.button{
    background-color: rgb(12, 12, 12);
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.title{
    margin-top: 1.2rem;
    margin-bottom: 1.3rem;
    font-size:2rem;
    font-family:var(--fontbody);
    color: white;
    font-weight: 500;
}

.title-data{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-family:var(--fontbody);
    color: var(--DarkGray);
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    margin-top:1rem;
    margin-left: 1rem;
    align-items: left;
}

.txt-data{
    margin-top: 0.7rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family:var(--fontbody);
    color: #000000;
    font-weight: 700;
    border-right: 1px solid #cecccc;
    min-height: 50px;
    max-height: 150px;
}

#out-isp{
    border-right: none;
}

.data{
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    top: 10.6rem;
    background-color: #ffffff;
    width: 80%;
    min-height: 150px;
    max-height: 300px;
    border-radius: 15px;
    display: flex;
    box-shadow:  0px 10px 10px rgba(0, 0, 0, 0.20);
}

#map{
    z-index: 0;
    width:100%;
    height: calc(100vh - 250px);
}

@media screen and (max-width: 690px){
    .title-data{
        align-items: center;
    }

    .txt-data{
        margin-top: 0.7rem;
        box-sizing: border-box;
        font-size: 1.3rem;
        align-items: center;
        border-right: none;
        min-height: 30px;
    }

    .data{
        flex-direction: column;
        align-items: center;
        top: 10.6rem;
        background-color: #ffffff;
        width: 80%;
        min-height: 300px;
        max-height: 350px;
    }

    .form-container{
        width: 80%; 
    }

    .form{
        font-size: 14px;
        font-weight: 400;
    }
}